<!--  todo: toggle the form and have list display full width when false -->
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h2>Female Nouns</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">Russian</th>
        <th scope="col">Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let noun of nouns">
        <app-noun *ngIf="noun.gender === 'f'" [noun]="noun" (onDeleteNoun)="deleteNoun(noun.id)"></app-noun>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2>Male Nouns</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">Russian</th>
        <th scope="col">Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let noun of nouns">
        <app-noun *ngIf="noun.gender === 'm'" [noun]="noun" (onDeleteNoun)="deleteNoun(noun.id)"></app-noun>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 col-md-4">
    <app-add-noun (onAddNoun)="addNoun($event)" [errorMessage]="errorMessage"></app-add-noun>
  </div>
</div>
