app-noun {
  /* todo: resolves issue of custom <app-noun> being the child of <tr> instead of <td> */
  /* https://stackoverflow.com/questions/34556277/angular2-table-rows-as-component */
  display: contents;
}

th {
  padding: 0;
}
