<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <app-header></app-header>
    </div>
    <div class="col-sm-12 col-md-4">
      <app-button color="green" text="Add Noun"></app-button>
    </div>
  </div>
  <app-nouns></app-nouns>
  <div class="row">
    <div class="col-sm-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
