<form [formGroup]="addNounForm" (ngSubmit)="onSubmit()">
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <div class="row mb-3 form-group add-form">
    <label for="english" class="col-sm-2 col-form-label">English:</label>
    <div class="col-sm-10">
      <input [class.is-invalid]="getEnglishNoun().invalid && getEnglishNoun().touched"
             formControlName="english" type="text" class="form-control" id="english">
      <div *ngIf="getEnglishNoun().invalid && getEnglishNoun().touched">
        <small *ngIf="getEnglishNoun().errors?.required" class="text-danger">
          Please enter a noun in English
        </small>
        <small *ngIf="getEnglishNoun().errors?.maxlength" class="text-danger">
          The noun must not be longer than 50 characters
        </small>
      </div>
    </div>
  </div>
  <div class="row mb-3 form-group">
    <label for="russian" class="col-sm-2 col-form-label">Russian:</label>
    <div class="col-sm-10">
      <input [class.is-invalid]="getRussianNoun().invalid && getRussianNoun().touched"
             formControlName="russian" type="text" class="form-control" id="russian">
      <div *ngIf="getRussianNoun().invalid && getRussianNoun().touched">
        <small *ngIf="getRussianNoun().errors?.required" class="text-danger">
          Please enter the Russian translation
        </small>
        <small *ngIf="getRussianNoun().errors?.maxlength" class="text-danger">
          The noun must not be longer than 50 characters
        </small>
      </div>
    </div>
  </div>
  <div class="row mb-3 form-group">
    <label for="notes" class="col-sm-2 col-form-label">Notes:</label>
    <div class="col-sm-10">
      <input formControlName="notes" type="text" class="form-control" id="notes">
    </div>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
    <div class="col-sm-10">
      <div class="form-check form-group">
        <input class="form-check-input form-control" formControlName="gender" type="radio" id="female" value="f">
        <label class="form-check-label" for="female">
          Female
        </label>
      </div>
      <div class="form-check form-group">
        <input class="form-check-input form-control" formControlName="gender" type="radio" id="male" value="m">
        <label class="form-check-label" for="male">
          Male
        </label>
      </div>
    </div>
  </fieldset>
  <button [disabled]="!addNounForm.valid" type="submit" class="btn btn-primary">Add Noun</button>
</form>

